<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue 购物车</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container{
            width: 50%;
            margin: 100px auto;
        }
        .removed{
            color: grey;    
        }

        .removed label{
            text-decoration: line-through;
        }
        ul{
            border: 1px solid black;
            margin-top: 30px;
        }
        ul li{
            list-style: none;
        }
    </style>
</head>
<body>
    <div class="container" id="app">
        <h2>{{ title }}</h2>
        <add-component></add-component>
        <!-- 输入框 添加按钮 js-new-item 自定义的-->
        <!-- <div class="input-group">
            <input v-model="newItem" type="text" class="form-control" placeholder="添加想要购买的商品">
            <span class="input-group-btn">
                <button  type="button" class="btn btn-default" v-on:click="addTtem" >添加到购物车</button>
            </span>
        </div> -->

        <items-component></items-component>
        <!-- <ul>
            循环遍历
            
            <li v-for="item in items" v-bind:class="{'removed':item.checked}">
                <div  class="checkbox">
                    <label>
                        <input v-model="item.checked" type="checkbox" > {{ item.text }}
                    </label>
                </div>
                           
            </li>
     
        </ul> -->

        <!-- 改变标题 -->
        <div class="footer">
            <hr>
            <span>改变标题</span>
            <!-- 双向的数据绑定 -->
            <!-- <input v-model="title"> -->
            <change-title-component></change-title-component>
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var data={
        items:[
            {text:'苹果',checked:true},
            {text:'电脑',checked:true},
            {text:'手机',checked:true}
        ],

        title:'我的购物车清单',
        newItem:''

    };
    // 创建列表组件

    var ItemComponents = Vue.extend({
        // 代表的是模板的那一块
        data:function(){
            return data;
        },
        template:'<ul>'+
            '<li v-for="item in items" v-bind:class="{removed:item.checked}">'+
                '<div  class="checkbox">'+
                    '<label>'+
                        '<input v-model="item.checked" type="checkbox" > {{ item.text }}'+
                    '</label>'+
                '</div>'+
            '</li>'+
        '</ul>'
    })
    // 创建改变标题组件
    var ChangeTitleComponents = Vue.extend({
        data:function(){
            return data;
        },
        template:'<input v-model="title">'
        
    })
    // 创建添加组件
    var AddItemComponents = Vue.extend({
        data:function(){
            return data;
        },
        methods:{
            addTtem:function(){
                var text;
                text = this.newItem.trim()
                if (text){
                    this.items.push({
                        text:text,
                        checked:false
                    })
                };
                this.newItem=''
            }
        },
        template:
        '<div class="input-group">'+
            '<input v-model="newItem" type="text" class="form-control" placeholder="添加想要购买的商品">'+
            '<span class="input-group-btn">'+
                '<button  type="button" class="btn btn-default" v-on:click="addTtem" >添加到购物车</button>'+
            '</span>'+
        '</div>'
        
    })

    // 注册组件
    Vue.component('items-component',ItemComponents)
    Vue.component('change-title-component',ChangeTitleComponents)
    Vue.component('add-component',AddItemComponents)

    new Vue({
        // 元素
        el:'#app',
        data:data,
        // methods:{
        //     addTtem:function(){
        //         var text;
        //         text = this.newItem.trim()
        //         if (text){
        //             this.items.push({
        //                 text:text,
        //                 checked:false
        //             })
        //         };
        //         this.newItem=''
        //     }
        // }
    })
    


</script>
</html>